.benefits {
  padding: 134px 0;
  background-color: $color-white-lilac;

  @include vp-1199 {
    padding: 92px 0;
  }
}

.benefits h2 {
  font-family: 'Bebas Neue';
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-blue-zodiac;
  text-align: center;
  margin: 0 0 73px;

  @include vp-1199 {
    font-size: 42px;
    margin: 0 0 52px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.benefits__wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  margin: 0 60px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    margin: 0;
  }

  @include vp-767 {
    display: block;
  }
}

.benefits__item--simulators {
  padding: 55px 20px 40px;
  background-color: $color-biscay;
  color: $color-default-white;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 240px;
  margin: 0 60px;

  @include vp-1199 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 442px;
    padding: 35px 20px 36px;
    margin: 33px 0 56px;
  }

  @include vp-767 {
    width: 100vw;
    margin-left: -15px;
  }
}

.benefits__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 100%;
  margin-bottom: 10px;

  @include vp-1199 {
    margin-bottom: 4px;
  }
}

.benefits__item-subtitle {
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 38px;

  @include vp-1199 {
    margin-bottom: 17px;
    font-size: 22px;
  }
}

.benefits__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @include vp-1199 {
    width: 180px;
    margin: 0 auto;
  }
}
