.button {
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  display: block;
  transition: all 0.4s ease;
}

.button--main {
  color: $color-default-white;
  padding: 18px 10px;
  border: 4px solid $color-default-white;
  min-width: 230px;

  @include vp-767 {
    min-width: 100%;
  }
}

.button--main:focus,
.button--main:hover {
  color: $color-razzmatazz;
  border: 4px solid $color-razzmatazz;
}

.button--subscription {
  display: inline-block;
  padding: 23px 44px;
  border: 2px solid $color-blue-zodiac;

  @include vp-767 {
    display: block;
  }
}

.button--subscription:focus,
.button--subscription:hover {
  border: none;
  color: $color-default-white;
  background: $button-gradient;
}

.button--super {
  color: $color-default-white;
  padding: 24px 5px;
  border: 4px solid $color-default-white;

  @include vp-767 {
    padding: 16px 5px;
  }
}

.button--super:focus,
.button--super:hover {
  border: 4px solid $color-default-white;
  background-color: $color-governor-bay;
}

.button--form {
  border: none;
  color: $color-default-white;
  background-color: inherit;
  padding: 16px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid $color-default-white;
  width: 100%;
  cursor: pointer;
}

.button--form:focus,
.button--form:hover {
  color: $color-blue-zodiac;
  background-color: $color-default-white;
}
