.connection {
  padding: 111px 0 0;

  @include vp-1199 {
    padding: 90px 0 0;
  }

  @include vp-767 {
    padding: 58px 0 0;
  }
}

.connection__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.connection__form {
  color: $color-default-white;
  background-color: $color-blue-zodiac;
  padding: 56px 100px 68px 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1199 {
    width: 100%;
    padding-left: 132px;
    padding-bottom: 70px;
    align-items: flex-start;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.connection__form h2 {
  margin: 0;
  font-family: "Bebas Neue", "Arial", "Tahoma", sans-serif;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  margin-bottom: 35px;

  @include vp-1199 {
    font-size: 42px;
    margin-bottom: 24px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 36px;
  }
}

.connection__contact {
  padding: 62px 128px 48px;
  color: $color-blue-zodiac;
  border-top: 1px solid $color-lynch;

  @include vp-1199 {
    padding: 62px 132px 57px;
  }

  @include vp-767 {
    padding: 64px 15px 61px;
  }
}

.connection__contact h2 {
  font-family: "Bebas Neue", "Arial", "Tahoma", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0 0 45px;

  @include vp-1199 {
    font-size: 42px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.connection__contact h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 5px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 152.34%;
  }
}

.connection__address {
  border-right: 1px solid $color-lynch;
  padding-left: 5px;

  @include vp-1199 {
    padding-left: 0;
    padding-right: 30px;
  }

  @include vp-767 {
    border: none;
    margin-bottom: 20px;
  }
}

.connection__address-item {
  margin-bottom: 15px;

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.connection__address p {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: $color-blue-zodiac;

  @include vp-1199 {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.connection__info-item {
  margin-bottom: 10px;

  @include vp-1199 {
    margin-bottom: 20px;
  }
}

.connection__info {
  padding-left: 60px;

  @include vp-1199 {
    padding-left: 49px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.connection__info-link {
  @include vp-1199 {
    font-size: 16px;
  }
}

.connection__info-tel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-blue-zodiac;
  margin-top: -5px;
  padding: 5px 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 152.34%;
  }
}

.connection__info-link:hover,
.connection__info-tel:hover {
  color: $color-governor-bay;
}

.connection__contact-wrapper {
  display: grid;
  grid-template-columns: 235px 1fr;

  @include vp-1199 {
    grid-template-columns: 268px 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}
