.stock {
  padding: 115px 0 104px;

  @include vp-1199 {
    padding: 99px 0 82px;
  }

  @include vp-767 {
    padding: 61px 0 50px;
    text-align: center;
  }
}

.stock h2 {
  font-family: "Bebas Neue", "Arial", "Tahoma", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-blue-zodiac;
  text-align: center;
  margin: 0 0 55px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 47px;
  }
}

.stock__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.stock__block {
  min-height: 462px;
  display: grid;
  grid-template-columns: 280px 1fr;

  @include vp-1199 {
    grid-template-columns: 280px 399px;
    justify-content: center;
    margin-bottom: 32px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 28px;
  }
}

.stock__description {
  color: $color-default-white;
  background-color: $color-red-ribbon;
  padding: 35px 45px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-767 {
    display: block;
  }
}

.stock__description-year {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;

  @include vp-767 {
    line-height: 126%;
  }
}

.stock__description-price {
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  margin: -7px 0 20px;

  @include vp-767 {
    margin: 0 0 16px;
  }
}

.stock__description-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.stock__description-link {
  color: $color-default-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid $color-default-white;
  transition: all 0.4s ease;
}

.stock__description-link:hover {
  color: $color-governor-bay;
  border-bottom: 1px solid $color-governor-bay;
}

.stock__img {
  height: 462px;
  background-image: url("../img/content/stock/1.jpg");
  background-repeat: no-repeat;


  @include vp-1199 {
    width: 399px;
    background-image: url("../img/content/stock/2.jpg");
  }

  @include vp-767 {
    background-image: url("../img/content/stock/3.jpg");
    margin: 0 auto;
    width: 290px;
    height: 299px;
  }
}

.stock__item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: min-content min-content;
    grid-template-rows: auto;
    margin: 0 auto;
    gap: 28px;
    justify-items: center;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.stock__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 25px 30px;
  color: $color-biscay;
  border: 6px solid;
  border-image: $border-gradient;
  -moz-border-image: -moz-linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
  -webkit-border-image: -webkit-linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
  border-image-slice: 1;

  @include vp-1199 {
    width: 324px;
    border: 6px solid;
    border-image: $border-gradient;
    -moz-border-image: -moz-linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
    -webkit-border-image: -webkit-linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
    border-image-slice: 1;
    padding: 28px 35px 29px 30px;
    min-height: 211px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    padding: 36px 35px 29px 30px;
  }
}

.stock__card-wrapper h3 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 12px;
}

.stock__card-wrapper p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

  @include vp-1199 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 19px;
  }
}

.stock__card-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-biscay;
  padding-bottom: 3px;
  border-bottom: 1px solid $color-biscay;
}

.stock__card-link:hover {
  color: $color-razzmatazz;
  border-bottom: 1px solid $color-razzmatazz;
}
