.subscription {
  padding: 120px 0;
  background-color: $color-white-lilac;
  text-align: center;
  background-image: url('../img/bg/pancakes.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.subscription h2 {
  font-family: 'Bebas Neue';
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-blue-zodiac;
  margin-bottom: 50px;
}
