.trainer {
  padding: 75px 0 100px;

  @include vp-1199 {
    padding: 54px 0 100px;
  }

  @include vp-767 {
    padding: 30px 0 100px;
  }
}

.trainer__wrapper {
  position: relative;

  @include vp-1199 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.trainer h2 {
  font-family: "Bebas Neue", "Arial", "Tahoma", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-blue-zodiac;
  margin: 0 0 55px;
  padding-left: 2px;

  @include vp-1199 {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin: 0 0 45px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.trainer__list {
  position: relative;
  display: flex;
  min-width: 0;

  @include vp-1199 {
    height: 294px;
  }

  @include vp-1199 {
    height: 274px;
  }
}

.trainer__btn-prev,
.trainer__btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 32px;
  background-image: url("../img/svg/arrow.svg");
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.trainer__btn-prev {
  left: -57px;

  @include vp-1199 {
    left: 0;
  }
}

.trainer__btn-next {
  transform: rotate(180deg);
  top: 45%;
  right: -55px;

  @include vp-1199 {
    right: 0;
  }
}

.trainer__item {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.trainer__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainer__item-name {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: $color-default-white;
  transform: translateX(-50%);
}

.trainer__item:hover .trainer-description {
  opacity: 1;
  visibility: visible;
}

.trainer__item:hover .trainer__item-name {
  font-size: 0;
}
