// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-transparent-2: rgba(16, 38, 84, 0.5);
$color-transparent-3: rgba(16, 38, 84, 0.89);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-quartz: #d8d8d9;
$color-blue-zodiac: #102654;
$color-blue-bayoux: #495a7d;
$color-lynch: #74819c;
$color-torea-bay: #103aae;
$color-governor-bay: #2e35ac;
$color-biscay: #1c3374;
$color-white-lilac: #f8f9fc;
$color-razzmatazz: #d10a42;
$color-red-ribbon: #ed0233;
$color-heather: #b6bdcc;
$color-footer: #030a1a;


// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

$main-bg: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

$border-gradient: linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));

$button-gradient: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

$number-gradient: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-322: 322px;
$vp-375: 375px;
$vp-768: 768px;
$vp-880: 880px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------
$fz-default: 16px;
$ff-rouble: "Rouble";
$ff-placeholder: "Placeholder";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
